@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.card-rel
{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.up{
  position: absolute;
  top: 0;
}

body {
  font-family: "anonymous-pro",monospace;
  color: #000000;
  margin: 0;
  padding: 0;
  font-size: 9pt;
  line-height: 140%;
  background-repeat: repeat-x;
  background-size: 250px;
  background-position: left top;
  animation: colorchange 30s infinite;
  -webkit-animation: colorchange 30s infinite;
}

#loading {
  background-color:rgba(11, 19, 25, 0.95);position:absolute;width:100%;height:100%;top:0;left:0;z-index:99999;
}
@keyframes colorchange {
  0%   {background-color: #042230;}
  25%   {background-color: #0a1d31;}
  50%  {background-color: #030e23;}
  75%	{background-color: #0a1d31;}
  100% {background-color: #042230;}
}


.footer
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  background-color: #1d59ff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5%;
}

.sample
{
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
}

.down
{
  position: absolute;
  align-self: center;
  bottom: 0;
}

.centered
{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login-block
{
  display: grid;
  grid-row-gap: 5%;
}

.great-button
{
  position: absolute;
  bottom: 5vh;
  justify-self: center;
  align-self: center;
  width: 20%;
  height: 15%;
}

.album-pic
{
  width: 80%;
}

.infornal-block
{
  position: absolute;
  display: grid;
  grid-auto-flow: row;
  justify-self: center;
  align-self: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 90%;

  justify-items: center;
  align-items: center;

  background-color: rgba(255, 0, 0, 0);
}
